<head>
  <meta charset="utf-8">
  <title>G20 Repository of Digital Policies</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.ico' | relative_url }}">
  <link href="https://cdn.jsdelivr.net/gh/frangeris/picasso.css/dist/build.min.css" rel="stylesheet">
  <link href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css" rel="stylesheet">
  <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/dist/output.css' | relative_url }}" rel="stylesheet">
</head>
